<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.goodbam.mapper.MemberListMapper">

    <select id="memberList" resultType="com.springboot.goodbam.vo.UserVO">
        SELECT
        *
        FROM MEMBER
    </select>

    <delete id="memberDelete" parameterType="int">
        DELETE  FROM MEMBER WHERE USERNUM = #{userNum}
    </delete>
</mapper>